body {
  background-color: #30353a;
  transition: 1s all ease;
}

.terminal {
  font-family: Menlo, Monaco, 'Consolas', 'Courier New', 'Courier';
  color: #ffffff;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: 16px;
  line-height: 1.3em;
}

.block {
  display: inline;
}

a {
  color: #4285f4;
  text-decoration: none;
}

#sudo {
  color: #00ffa6;
}

#tilde {
  color: #ff0096;
}

#dollar {
  color: #fff292;
}

.cursor {
  color: orange;
  font-size: 16px;
  font-weight: 900;
  animation: blink-cursor 0.75s step-end infinite;
}

@keyframes blink-cursor {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

#switch {
  visibility: hidden;
  position: absolute;
}

.switch-label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 50px;
  background-color: #181b23;
  position: relative;
  cursor: pointer;
  transition: 0.5s all ease;
}

.switch-label .toggle {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: #ddc986;
  position: absolute;
  left: 3px;
  transition: 0.5s all ease;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  transition: 1s all ease;
}

#switch:checked ~ .switch-label {
  background: #f7f7f7;
  border: none;
  transition: 0.5s all ease;
}

#switch:checked ~ .switch-label .toggle {
  height: 12.5px;
  border-radius: 25px 25px 0 0;
  background: transparent;
  box-shadow: 0 -7px 0 0 #fbc01a;
  transform: scale(0.9) translateX(75px) rotate(90deg);
  transition: 0.7s all ease;
}

.light {
  background: #f7f7f7;
  transition: 1s all ease;
}

button {
  padding: 5px 10px;
  border: none;
  text-align: center;
  background: #f7f7f7;
  font-size: 18px;
  font-style: italic;
  text-decoration: none;
  color: #181b23;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  outline: 0;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.skip-btn.light {
  color: #f7f7f7;
  background-color: #181b23;
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
}
